@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user-details {
    margin: 1rem;
    padding: 1rem 0;

    @include tablet-breakpoint {
        margin: 1.5rem 0 5rem;
        padding: 0;
    }

    @include desktop-breakpoint {
        padding: 2rem 0 3rem 0;
    }

    &__header {
        @include flex(column, center, center);
        margin-bottom: 2rem;

        &-title {
            font-size: 1.8rem;
            color: $secondary-bg-color;
            font-weight: 700;

            @include tablet-breakpoint {
                font-size: 2.2rem;
            }

            @include desktop-breakpoint {
                font-size: 2.5rem;
            }
        }

        &-link {
            font-size: 1rem;
            color: $secondary-bg-color;
            text-decoration: none;
            margin-top: 1rem;

            @include desktop-breakpoint {
                margin-top: 0.5rem;
            }

            &:hover,
            &:visited {
                font-weight: 700;
                color: $secondary-bg-color;
            }
        }
    }

    &__info {
        @include tablet-breakpoint {
            @include flex(row, center, center);
            gap: 7rem;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        @include desktop-breakpoint {
            gap: 10rem;
        }

        &-group {
            margin-bottom: 1.5rem;

            @include tablet-breakpoint {
                @include flex(column, center, center);
            }
        }

        &-label {
            font-size: 0.9rem;
            font-weight: 600;
            margin-bottom: 0.5rem;

            @include desktop-breakpoint {
                font-size: 1.2rem;
            }
        }

        &-text {
            font-size: 1rem;
            font-weight: 400;

            @include tablet-breakpoint {
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
    }

    &__loan-history {

        &-title {
            font-size: 1.5rem;
            color: $secondary-bg-color;
            font-weight: 700;
            margin-top: 2.5rem;

            @include tablet-breakpoint {
                margin-bottom: 0rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }

            @include desktop-breakpoint {
                font-size: 1.8rem;
            }
        }

        &-headers {
            display: none;

            @include tablet-breakpoint {
                @include flex(row, flex-start, flex-start);
                // @include flex(column, flex-start, flex-start);
                width: 100%;
                margin: 2rem 2.5rem 1rem 2.5rem;
                // border: 2px solid red;
                // gap: 3.5rem;
            }
        }

        &-header {
            @include tablet-breakpoint {
                // border: 2px solid blue;
                width: 15%;
                font-size: 1.2rem;
            }

            @include desktop-breakpoint {
                // width: 15%;
                // gap: 10rem;
                // @include flex(row, center, center);
            }
        }

        &-item {
            @include flex(column, flex-start, flex-start);
            border-top: 1px solid $secondary-bg-color;
            padding: 1.5rem 0;

            @include tablet-breakpoint {
                @include flex(row, flex-start, flex-start);
                                padding-left: 2.5rem;
                                padding-right: 2.5rem;
            }
        }

        &-group {
            @include flex(row, flex-start, center);
            width: 100%;
            gap: 2rem;

            @include tablet-breakpoint {
                @include flex(column, flex-start, flex-start);
                gap: 0.5rem;
            }
        }

        &-label {
            font-size: 0.9rem;
            font-weight: 700;
            width: 25%;

            @include tablet-breakpoint {
                display: none;
                // width: 10%;
                // font-weight: 100;
            }

            // @include desktop-breakpoint {
            //     font-size: 1.2rem;
            // }
        }

        &-text {
            font-size: 1rem;
            font-weight: 300;
            padding-top: 0.2rem;
            width: 75%;

            @include tablet-breakpoint {
                width: 100%;
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }
}