@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $typeface-primary, sans-serif;
    background-color: $primary-bg-color;
    transition: all 2s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}