@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $typeface-primary, sans-serif;
    background-color: $primary-bg-color;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}

input {
    &:focus {
        border: .125rem solid $primary-text-color;
        outline: none;
    }
}