@use "./typography" as *;

$typeface-primary: "Lato";

$secondary-bg-color: rgb(0 134 111); // Green
$primary-text-color: rgb(45 151 131); // Green
$secondary-text-color: rgb(32 30 31); // Black
$primary-bg-color: rgb(255 255 255); // White
$alternate-bg-color: rgb(240 240 240); // Grey

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;