@use "./typography" as *;

$typeface-primary: "Lato";

$secondary-bg-color: rgb(0 134 111); // Green
$primary-text-color: rgb(45 151 131); // Green
$primary-bgg-color: rgb(233, 248, 245); // Green
$secondary-text-color: rgb(32 30 31); // Black
$primary-bg-color: rgb(255 255 255); // White
$alternate-bg-color: rgb(240 240 240); // Grey
$hover-button-color: rgb(0, 83, 68.7537313433); // Darken Green
$error-red: rgb(183, 0, 0);
$success-color: rgb(2, 169, 2);

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;