@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.admin {

    &__box {
        margin: 1rem 0 0 0;
    }

    &__title {
        @include flex(row, flex-start, center);
        font-size: 1.7rem;
        font-weight: 700;
        padding-bottom: 1rem;
        color: $secondary-text-color;
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet-breakpoint {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            border-bottom: 0;
        }

        @include desktop-breakpoint {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

}