@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    background-color: $secondary-text-color;
    color: $primary-bg-color;
    text-align: center;
    height: 30vh;
    @include flex(column, center, center);

    @include tablet-breakpoint {
        height: 40vh;
    }

    @include desktop-breakpoint {
        height: 50vh;
    }

    &__social {
        @include flex(row, center, center);
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__social-image {
        width: 1.5rem;
        height: 1.5rem;
        transition: opacity 0.3s ease;

        @include desktop-breakpoint {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__text {
        font-size: 0.6rem;
        margin: 0;
        font-weight: 300;

        @include tablet-breakpoint {
            font-size: 0.8rem;
        }

        @include desktop-breakpoint {
            font-size: 1rem;
        }
    }
}