@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
    margin: 2rem 1rem 7rem 1rem;
    padding: 1rem 0;

    @include tablet-breakpoint {
        margin: 5rem 12rem 8rem 12rem;
        border-radius: .125rem;
        box-shadow: 0.5rem 0.5rem 1rem rgba($secondary-bg-color, 0.5);
    }

    @include desktop-breakpoint {
        margin: 5rem 32rem 15rem 32rem;
        padding: 2rem 0 3rem 0;
    }

    &__header {
        @include flex(column, center, center);

        &-title {
            font-size: 1.8rem;
            color: $secondary-bg-color;
            font-weight: 700;

            @include tablet-breakpoint {
                font-size: 2.2rem;
            }
        }

        &-subtitle {
            font-style: italic;

            @include tablet-breakpoint {
                font-size: 1.2rem;
            }
        }

        &-link {
            font-style: normal;
            padding-left: 0.5rem;
            text-decoration: none;
            color: $primary-text-color;
    
            &:visited {
                color: $primary-text-color;
            }
    
            &:hover {
                font-weight: 700;
            }
        }
    }

    &__body {
        margin: 2rem 2rem 2rem 2rem;

        &-label {
            width: 100%;
        }

        &-input {
            display: block;
            margin-bottom: 1rem;
            width: 100%;
            margin-top: 0.2rem;
            padding: 0.5rem 1rem;
            border-radius: .375rem;
            border: 1px solid $secondary-bg-color;

            @include tablet-breakpoint {
                margin-bottom: 1.5rem;
                padding: 0.7rem 1.2rem;
                border-radius: .5rem;
            }
        }
    }

    &__button {
        @include flex(row, center, center);

        &-button {
            padding: 0.7rem 2.5rem;
            border: none;
            background-color: $secondary-bg-color;
            border-radius: .375rem;
            color: $primary-bg-color;
            font-weight: 700;
            font-size: 1.05rem;
            cursor: pointer;

            &:hover {
                background-color: $hover-button-color;
            }
        }
    }

    &__forgot-password {
        // color: $primary-bg-color;
        // color: $secondary-text-color;
        // color: $primary-text-color;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        color: $primary-text-color;
        font-size: 1rem;
        
        @include tablet-breakpoint {
            font-size: 1.2rem;
        };

        &:visited {
            color: $primary-text-color;
        }
    
        &:hover {
            font-weight: 700;
        }
    }
}