@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.success {
    display: block;
    @include flex(row, center, center);
    color: $success-color;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    margin-top: 0.25rem;
}